<h4>LOT: {{targetObject.id.chainId}}</h4>
<dl>
  {% for traceLot in trace.traceProdLots %}
  <dt>{{traceLot.currentState | translate('states')}}</dt>
  <dd>{{traceLot.startDate| dateTime}}</dd>
  {% if traceLot.processingProperties.afterWeight>0 %}

  <dd>({{traceLot.processingProperties.afterWeight | weight }})</dd>
  {% endif -%} {% endfor -%}
</dl>

<dl>
  <dt>{{'productionFacility' | translate('fields')}}:</dt>
  <dd>{{trace.originProperties.productionFacility.label}}</dd>
  <dt>{{'origingeolot' | translate('fields')}}</dt>
  <dd>
    {% for geolot in trace.originProperties.geoLots -%}{{geolot.label}},{%
    endfor -%}
  </dd>
  <dt>{{'variety' | translate('fields')}}:</dt>
  <dd>{{trace.originProperties.variety.label}}</dd>
  <dt>{{'harvestDate' | translate('fields')}}</dt>
  <dd>{{trace.originProperties.collectionDate|date}}</dd>
</dl>
