<img width="100" height="100" src="http://api.qrserver.com/v1/create-qr-code/?size=150x150&data={{targetObject.id.qrCode}}" />
<h4>LOT: {{targetObject.id.chainLabel}}</h4>

<dl>
  {% for traceLot in trace.traceProdLots %}
  <dt>{{traceLot.currentState | translate('states')}}</dt>
  <dd>{{traceLot.startDate| dateTime}}</dd>
  <dd>{% if traceLot.processingProperties.afterWeight>0 %}
        ({{traceLot.processingProperties.afterWeight | weight('Lb') }})
  {% endif -%}
  </dd>
{% endfor -%}
  <dt>{{'farm' | translate('fields')}}</dt>
  <dd>{{trace.originProperties.productionFacility.label}}</dd>
  <dt>{{'variety' | translate('fields')}}</dt>
  <dd>{{trace.originProperties.variety.label}}</dd>
  <dt>{{'harvestDate' | translate('fields')}}</dt>
  <dd>{{trace.originProperties.collectionDate|date}}</dd>
</dl>
